<style>
    .hfht-programs {
        display: grid;
        grid-template-columns: auto auto;
        margin: 1rem;
    }
</style>
<p>
    The home repair program ensures our neighbors live in safe, decent homes and restores dignity and hope to the
    community. If selected you will work side-by-side with our staff and volunteers. Accommodations are made for those
    unable to physically work.
</p>
<p>
    We accept applicants whose homes need repair — individuals, seniors, people with disabilities, U.S. veterans,
    multi-generational households and single-parent families. Habitat is an equal housing opportunity provider.
</p>
<p>
    You are expected to volunteer and repay a portion of cost of materials based on a sliding scale and ability.
</p>
<div class="hfht-programs">
    <div><b>Critical Home Repair</b></div>
    <div><b>Minor Home Repair</b></div>
    <div>Wait times maybe greater than 1 year.</div>
    <div>Home must be safe and have no roof leaks or structural problems.</div>
    <div>
        <ul>
            <li>AC Repair</li>
            <li>AC Replacement</li>
            <li>Electrical Safety Issues</li>
            <li>Home Mobility Modification</li>
            <li>Plumbing Safety Issues</li>
            <li>Roof Replacement</li>
            <li>Roofing Repair</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Exterior Paint</li>
            <li>Fence Repair</li>
            <li>General Yard Clean up</li>
            <li>Gutter Repair</li>
            <li>Tree trimming up to 10 feet</li>
        </ul>
    </div>
</div>