.csvlink {
    color: var(--color-icon);
}

.pickphoneinput {
    margin-left: unset;
    font-size: large;
    /* width: 90%; */
    margin-top: 2px;
}

.pickphone {
    margin-top: 0.8rem;
}

.special-label {
    display: none;
}

:root {
    --input-color-bd: var(--mantine-color-gray-4);
    --input-color-bg: var(--mantine-color-white);
    --font-size: var(--mantine-font-size-md, var(--mantine-font-size-md, var(--mantine-font-size-sm)));
    --input-scale: calc(2.625rem* var(--mantine-scale));
    --input-error-size: calc(var(--mantine-font-size-md) - calc(0.125rem* var(--mantine-scale)));
}

@media (prefers-color-scheme: dark) {
    :root {
        --input-color-bd: var(--mantine-color-dark-4);
        --input-color-bg: var(--mantine-color-dark-6);
    }
}

@media screen and (max-device-width: 31.25em) {
    :root {
        --font-size: var(--mantine-font-size-xs, var(--mantine-font-size-xs, var(--mantine-font-size-sm)));
        --input-scale: calc(1.875rem* var(--mantine-scale));
        --input-width: 100%;
        --input-error-size: calc(var(--mantine-font-size-xs) - calc(0.125rem* var(--mantine-scale)));
    }
}

.iti__tel-input {
    width: 12rem;
    min-height: var(--input-scale);
    line-height: calc(var(--input-scale) - calc(0.125rem* var(--mantine-scale)));
    border-radius: var(--mantine-radius-default);
    border: calc(0.0625rem* var(--mantine-scale)) solid var(--input-color-bd);
    background-color: var(--input-color-bg);
    font-size: var(--font-size);
}

.iti__selected-dial-code {
    font-size: var(--mantine-font-size-xs, var(--mantine-font-size-xs, var(--mantine-font-size-sm)));
}

.intl-phone-error input {
    border-color: var(--mantine-color-error);
}

.intl-phone-error p {
    margin: 0;
    color: var(--mantine-color-error);
    font-size: var(--input-error-size, calc(var(--mantine-font-size-sm) - calc(0.125rem* var(--mantine-scale))));
}

.table-label {
    font-size: var(--font-size)
}